<h1><strong>Edit Job</strong></h1>

<form action="/jobs/<%= @job.id %>" method="POST">
    <input id= "hidden" type = "hidden" name="_method" value="patch">
    <input type="text" name="name" rows="5" cols="50" placeholder="<%= @job.name %>">
    <br>
    <br>
    <input type="submit" value="Edit">
</form>