<br>
<h3 style="text-align: center"><%= flash[:access] %></h3>

<h1>All Jobs</h1>
<ul>
<% @jobs.each do |job|%>
        <li><a href="/jobs/<%= job.id %>"><%= job.name %></li>
<% end %>
</ul>
<br><br>

<% if @user.admin = true %>
        <a href= "/jobs/new"><button>New Job</button></a>
        <a href="/logout/edit"><button>Edit Job</button></a>
<% end %>


