<p>Name: <%= @job.name%></p> 
<br><br>

<a href="/jobs/<%= @job.id %>/edit"><button>Edit Job</button></a>
<form method="post" action= "/jobs/<%= @job.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value ="Delete">
</form>

