<% if @error %>
    <h1>Please Try Again</h1>
<% end %>
<h3>Sign Up</h3>

<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p> 
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <% @jobs.each do |job|%>
    <input type="radio" name="job" value="<% job.id %>"<%= job.name %>>
  <% end %>
  <input type="submit" value="Sign Up">
</form>