
<% if logged_in? %>
<h1>Welcome, <%= current_user.username %>!</h1>
    <% @posts.each do |post| %>
        <ul>
            <li><a href="/posts/<%= post.id %>"><%= post.content %></a></li>
        </ul>
    <% end %>
    <br>
    <a href= "/posts/new"><button>New Post</button></a>
<% end %>