<% if flash[:error]%>
    <%= flash[:error]%>
<% end %>

<h1>Create Post:</h1>
<form method="POST" action="/posts">
<textarea name="content" rows="5" cols="50"> Message</textarea>
<br>
<input type="submit" value="Post">
</form>