
<br><br>
<p><strong>Message:</strong> <%= @post.content %></p>


<p><strong>From:</strong> <%= @post.user.username %> </p>

<br><br>

<% if @post.user == current_user %>

<a href="/posts/<%= @post.id %>/edit"><button>Edit Post</button></a>
<form method="POST" action= "/posts/<%= @post.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value ="Delete">
</form>

<% end %>