<%= @post.content %>
<br><br>
<a href="/posts/<%= @post.id %>/edit"><button>Edit Post</button></a>
<form method="POST" action= "/posts/<%= post.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value ="Delete">
</form>